#test {
    color: blue;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.container {
    position: relative;
  }
  
.meter1{
    color:red;
    position: absolute;
    left: 100px;
    width: 300px;
    padding: 10px;
    text-align: center;
}

.meter2{
    color:red;
    position: absolute;
    right: 100px;
    width: 300px;
    padding: 10px;
    text-align: center;
}
.graph1{
    color:darkmagenta;
    position: absolute;
    left: 100px;
    width: 300px;
    padding: 10px;
    top:300px;
    text-align: center;

}

.graph2{
    color:darkmagenta;
    position: absolute;
    right: 100px;
    width: 300px;
    padding: 10px;
    top:300px;
    text-align: center;

}