body {
    background-color: rgb(30, 30, 30);
}

#test {
    color: #00ffd0;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

#cpuSummary p {
  color: #00ffd0;
  position: absolute;
  left: 300px;
  top: 1600px;
  width: 350px;
  height: 100px;
}

#ramSummary p {
  color: #00ffd0;
  position: absolute;
  right: 300px;
  top: 1600px;
  width: 350px;
  height: 100px;
}

#cpuSummary, #ramSummary {
  font-size: 25px;
  font-weight: bolder;

}

.cpuTitle {
  position:absolute;
  left: 350px;
  font-size: 50px;
  top: 200px;
  color: #10ff14;
  font-weight: bolder;
}

.ramTitle {
  position:absolute;
  right: 350px;
  font-size: 50px;
  top: 200px;
  color: #1e30f4;
  font-weight: bolder;
}

.leftBox {
  border-radius: 25px;
  background: #636363;
  padding: 20px;
  width: 600px;
  height: 1600px;
  left: 150px;
  position: absolute;
  border: 8px solid;
  top:200px;
  z-index: -1;

}

.rightBox {
  border-radius: 25px;
  background: #636363;
  padding: 20px;
  width: 600px;
  height: 1600px;
  right: 150px;
  position: absolute;
  border: 8px solid;
  top: 200px;
  z-index: -1;

}

.meter1{

    position: absolute;
    left: 310px;
    width: 300px;
    padding: 10px;
    top:400px;
    text-align: center;
}

.meter2{

    position: absolute;
    right: 310px;
    width: 300px;
    padding: 10px;
    top:400px;
    text-align: center;
}

#cpuListData {
  position:absolute;
  left: 175px;
  top:600px;
  color: #10ff14;

}

#ramListData {
  position:absolute;
  right: 200px;
  top:600px;
  color: #1e30f4;

}

#cpuListData, #ramListData {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  border: 5px solid #00ffd0;
}
.graph1{

    position: absolute;
    left: 220px;
    width: 300px;
    top:1050px;

}

.graph2{

    position: absolute;
    right: 220px;
    width: 300px;
    top:1050px;


}

.container {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
  }
.gauge-a {
    z-index: 1;
    position: absolute;
    background-color: rgba(255,255,255,.2);
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
  }
.gauge-b {
    z-index: 3;
    position: absolute;
    background-color: #222;
    width: 250px;
    height: 125px;
    top: 75px;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
  }
.gauge-c1{
    z-index: 2;
    position: absolute;
    background-color: #10ff14;
    width: 400px;
    height: 200px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 1.3s ease-in-out;
  }

  .gauge-c2{
    z-index: 2;
    position: absolute;
    background-color: #1e30f4;
    width: 400px;
    height: 200px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 1.3s ease-in-out;
  }
  /*
.container:hover .gauge-c1  {  transform:rotate(.5turn);
  }

  .container:hover .gauge-c2  {  transform:rotate(.5turn);
  } 
.container:hover { color: rgba(255,255,255,1); }*/
 
.gauge-data1 {
    z-index: 4;

    color: #10ff14;
    font-size: 1.5em;
    line-height: 25px;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 90px;
    margin-left: auto;
    margin-right: auto;

}

.gauge-data2 {
  z-index: 4;

  color: #1e30f4;
  font-size: 1.5em;
  line-height: 25px;
  position: absolute;
  width: 400px;
  height: 200px;
  top: 90px;
  margin-left: auto;
  margin-right: auto;

}



#chartContainer1 {
    width: 500px;
    height: 300px;
    border: 1px solid #ffffff;
  }


#chartContainer2 {
  width: 500px;
  height: 300px;
  border: 1px solid #ffffff;
}


/* Indicator container */
.indicatorCpu {
  display: flex;
  align-items: center;
  position: absolute;
  left: 200px;
  top: 1500px;

}

/* Circle */
.circleCpu {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Text */
.textCpu {
  font-size: 50px;
  font-weight: bold;
}

/* Styles for each state */
.greenCpu {

  color: green;
}

.amberCpu {

  color: orange;
}

.redCpu {

  color: red;
}

/* Indicator container */
.indicatorRam {
  display: flex;
  align-items: center;
  position: absolute;
  right: 320px;
  top: 1500px;

}

/* Circle */
.circleRam {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Text */
.textRam {
  font-size: 50px;
  font-weight: bold;
}

/* Styles for each state */
.greenRam {

  color: green;
}

.amberRam {

  color: orange;
}

.redRam {

  color: red;
}