body {
    background-color: rgb(30, 30, 30);
}

#test {
    color: blue;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}


.meter1{

    position: absolute;
    left: 300px;
    width: 300px;
    padding: 10px;
    top:200px;
    text-align: center;
}

.meter2{

    position: absolute;
    right: 300px;
    width: 300px;
    padding: 10px;
    top:200px;
    text-align: center;
}
.graph1{

    position: absolute;
    left: 200px;
    width: 300px;
    top:550px;

}

.graph2{

    position: absolute;
    right: 200px;
    width: 300px;
    top:550px;


}

.container {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
  }
.gauge-a {
    z-index: 1;
    position: absolute;
    background-color: rgba(255,255,255,.2);
    width: 400px;
    height: 200px;
    top: 0%;
    border-radius: 250px 250px 0px 0px;
  }
.gauge-b {
    z-index: 3;
    position: absolute;
    background-color: #222;
    width: 250px;
    height: 125px;
    top: 75px;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
  }
.gauge-c1{
    z-index: 2;
    position: absolute;
    background-color: #10ff14;
    width: 400px;
    height: 200px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 1.3s ease-in-out;
  }

  .gauge-c2{
    z-index: 2;
    position: absolute;
    background-color: #1e30f4;
    width: 400px;
    height: 200px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 1.3s ease-in-out;
  }
  /*
.container:hover .gauge-c1  {  transform:rotate(.5turn);
  }

  .container:hover .gauge-c2  {  transform:rotate(.5turn);
  } 
.container:hover { color: rgba(255,255,255,1); }*/
 
.gauge-data1 {
    z-index: 4;

    color: #10ff14;
    font-size: 1.5em;
    line-height: 25px;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 90px;
    margin-left: auto;
    margin-right: auto;

}

.gauge-data2 {
  z-index: 4;

  color: #1e30f4;
  font-size: 1.5em;
  line-height: 25px;
  position: absolute;
  width: 400px;
  height: 200px;
  top: 90px;
  margin-left: auto;
  margin-right: auto;

}



#chartContainer1 {
    width: 500px;
    height: 300px;
    border: 1px solid #ffffff;
  }


#chartContainer2 {
  width: 500px;
  height: 300px;
  border: 1px solid #ffffff;
}